# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gitignore
.idea/compiler.xml
.idea/encodings.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/potato.iml
.idea/workspace.xml
common/.gitignore
common/.mvn/
common/mvnw
common/mvnw.cmd
common/pom.xml
common/src/

.idea/
target/
potato-web/.mvn/
potato-web/mvnw
potato-web/mvnw.cmd
